<header>
    <h1>@PageData["Title"]</h1>
    <nav>
        <ul>
            <li><a href="~/Home.cshtml">Home</a></li>
            <li><a href="~/Blog.cshtml">Blog</a></li>
            <li><a href="~/Contact.cshtml">Contact</a></li>
        </ul>
    </nav>
</header>