@{
    Layout = "~/Shared/Layout2.cshtml";
    PageData["Title"] = "Contact";
}


    <main>
        <section>
            <p>Contact me and become wiser</p>
            <img src="~/Shared/Image/wise.jpg" alt="wise photo" height="150" width="300"><br>
        </section>
        <section>
            <input type="text" placeholder="Name"><br><br>
            <input type="email" placeholder="Email"><br><br>
            <textarea cols="40" rows="5" placeholder="Write your Story"></textarea><br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </section>
    </main>
