
@{
    Layout = "~/Shared/Layout.cshtml";
    PageData["Title"] = "Home";
}


<main class="Home">
    <div>
        <p class="Stoixeia">
            <img src="~/Shared/Image/red_star.jpg" alt="My photo" height="300" width="400"><br>
            Date of Birth:29-04-1988 <br>
            Address:Earth <br>
            Phone:xxxxxxxxx <br>
            E-mail:xkourtz@hotmail.com
        </p>
    </div>
    <section class="Home">
        <h2 class="first">Academic Experience</h2>
        <ul class="academic">
            <li>
                2013-2014 The University of Edinburgh, MSc in Sustainable Energy Systems
                <p>This Master expanded my areas of expertise in Sustainable Energy.Deep knowledge of Energy Systems, Sustainability, Renewable Energy, Energy Efficiency and Carbon Management. Understanding of Energy Industry and Energy Policy</p>
            </li>
            <li>
                2006-2012 National Technical University of Athens (NTUA), Mechanical Engineering<br>
            <p>A Mechanical Engineering Degree of 65 courses. Strong Mathematical background, Analytical thinking, Complex Data Modeling, Creative and Methodical Approach to every problem, Computational Engineering.</p>
           </li>
        </ul>
    </section>
    <section class="Home">
        <h2 class="second">Hobbies/Interests</h2>
        <ul class="hobbies">
            <li>Programming</li>
            <li>Astronomy, Philosophy</li>
            <li>Books of science, music festivals, cinema</li>
            <li>Cycling, Travelling</li>
        </ul>
    </section>
</main>

