<!DOCTYPE html>
<html>
<head>
    <title>@PageData["Title"]</title>
    <meta name="description" content="My Awesome site!" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/CSS/StyleSheet.css">
</head>
<body>
    @RenderPage("Header.cshtml")
    <main>
        @RenderBody()
    </main>
    @RenderPage("~/Shared/Footer.cshtml")
</body>
</html>