
#header {text-align: center; background-color: blue}
b.John {color: yellow; font-size: 200%}
h2 {background-color: orange}
b {color:blue}
.white {color: white}
h1 {color:yellow; display:inline; margin:0px;padding: 0px}
