@using ScifiMov;

@{
    Layout = "~/Shared/Layout.cshtml";
    PageData["Title"] = "Sci-fi Movies";

    var db = new Model();
    WebGrid grid;
    var movies = from m in db.Movies select m;


    var titles = db.Movies.ToList();

    //search bar
    var search_request = "";

    if (IsPost)
    {
        search_request = Request.Form["search"];
        if (!search_request.IsEmpty())
        {
            movies = movies.Where(x => x.Title.Contains(search_request));
            grid = new WebGrid(movies);
        }

    }
    grid = new WebGrid(movies);   
}


<main>
    <form method="post">
        <label for="search">Search</label>
        <input id="search" type="search" value="@search_request">
        <button type="submit">Apply</button>
    </form>
    <div>
        @grid.GetHtml();
        @*@grid.GetHtml(columns: grid.Columns( grid.Column("Title", "Title")))*@
    </div>
    @foreach (var p in titles)
    {<h2>
            @p.Title
</h2>}
</main>

