<header id="header">
    <h1>@PageData["Title"]</h1>
    <img src="~/Shared/Image/wise.jpg">
    <nav>
        <ul>
            <li><a href="~/Home.cshtml">Home</a></li>
            <li><a href="~/Login.cshtml">Login</a></li>
            <li><a href="~/Register.cshtml">Register</a></li>
        </ul>
    </nav>
</header>